.parent-anchor-item {
    position: relative;
    padding:20px;
    width:300px;
    border: 1px solid #fff;
    background: gray;
    border-radius: 20px;
    text-align: left;
    text-transform: uppercase;
}



.parent-anchor-item__info {
    width:100%;
    position: absolute;
    top:8px;
    font-size: 8px;
    text-align: left;
    color:#fff;
}

.parent-anchor-item__info .inner {
    width:70%;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}


.parent-anchor-item a {
    color:#fff;
    text-decoration: none;
}

.anchor-bg {
    background:gray;
    animation: kf-anchor-bg 7000ms ease-in infinite;
}

@keyframes kf-anchor-bg  {
    0% {
        background:gray;
    }
    50% {
        background:rgb(89, 89, 89);
    }
    100% {
        background:gray;
    }

}